//inicio
.imagen-inicio {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    padding: 0;

    img {
      width: 100%;
      display: block;
      min-height:100vh ;
    }
  }
  .carrusel-proyectos {
    background-color: $color-primario;
    text-align: center;
    padding: 40px;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

  .carousel-inner {
    max-width: 800px;
    margin: 0 auto; 
  }
  
    .carousel-inner img {
      max-height: 400px; 
      object-fit: cover; 
    }
  }
  

   .cta { 
    background-color: $color-primario;
    padding: 40px;
    text-align: center;
    color: $color-secundario;
   }
   h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .cta-button {
    background-color: $color-fondo;
    color: $color-secundario;
    padding: 10px 25px;
    font-size: 1.2rem;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #f77737;
      color: $color-fondo;
    }
  }
   //sobre mi
  span {
    font-weight: $font-bold;
    color: $color-primario;
  }
  
  .foto-redonda {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid $color-primario;
    object-fit: cover;
    margin: 50px;
  }
  
  .texto {
    .titulo {
      font-size: 25px;
      font-weight: $font-light;
      text-align: center;
      color: $color-secundario;
    }
  
    p {
      margin: 50px;
    }
  
    .invitacion {
      text-decoration: none;
      font-weight:$font-bold;
    }
  }
  // galeria
  .galeria {
    margin:20px;
  
    .titulo-galeria {
      font-weight: lighter;
      color: $color-secundario;
      font-size: 25px;
      margin: 20px;
    }
  
    .contenedorimagenes {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0 10%;
    }
  
    .imagenes {
      img {
        margin: 10px;
        border-radius: $border-radius;
        object-fit: cover;
        box-shadow: $box-shadow;
        transition: transform 0.3s ease;
  
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  //proyectos
  .proyectos {
    margin: 20px;
  .contenedor {
    .titulo-proyecto {
        font-weight: lighter;
        color: $color-secundario;
        font-size: 25px;
        margin: 20px;
      }
    
       .contenedor-trabajos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
  
         .trabajos {
          padding: 60px 0;
      
  
           .imagen {
            width: 100%;
            margin-bottom: 10px;
            padding: 5px;
          }
  
           img {
            width: 100%;
            vertical-align: top;
            border-radius: 10px;
            object-fit: cover;
            box-shadow: $box-shadow;
            transition: transform 0.3s ease;
  
             &:hover {
              transform: scale(1.05);
            }
          }
  
           .Descripción {
            text-align: center;
  
             .nombre {
              font-weight: bold;
              color: $color-secundario;
              font-size: 25px;
              margin-bottom: 3px;
            }
  
             .categoria {
              font-size: 14px;
              color: $color-secundario;
            }
          }
        }
      }
    }
  }
//contacto
.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
  min-height: 100vh;
  text-align: center;
  padding: 80px;

  
    .titulo-contacto {
      font-weight: lighter;
      color: $color-secundario;
      font-size: 25px;
      margin: 20px;
    }
  
    .formulario {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
      input[type="text"],
      input[type="email"],
      textarea {
        border: 2px solid $gray-color;
        border-radius: $border-radius;
        padding: 15px 20px;
        font-size: 20px;
      }
  
      input[type="text"],
      input[type="email"] {
        width: 49%;
        margin-bottom: 15px;
      }
  
      textarea {
        width: 100%;
        height: 100px;
        max-width: 100%;
        min-width: 100%;
        min-height: 100px;
        max-height: 300px;
        margin-bottom: 15px;
      }
  
      .boton {
        margin: auto;
        background: $color-primario;
        color: $color-secundario;
        border-radius: 50px;
        border-color: transparent;
        padding: 15px 40px;
        cursor: pointer;
  
        &:hover {
          background: #f77737;
        }
      }
    }
  }