$color-primario: #FFBF6B;
$color-secundario: #fff;
$color-texto: #636363;
$gray-color: #cecece;

$font-principal: "Open Sans", serif;
$font-light: 300;
$font-bold: 700;

$default-padding: 15px;
$default-margin: 20px;
$border-radius: 20px;

$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
